<h1>Create your Poem entry, <%= current_user.name %>!</h1>

<h3>subtext</h3>
<form class="" method="POST" action="/poems">
  <input type="text" name="title" value="" /></p>
 <p><label for="description">description</label>
    <textarea name="description" value="" style="height:100px; width:200px"></textarea></p>

        <input type="submit" name="" value="CREATE" />

    </form>

