
<ul>
    <% if logged_in? %>
        <li><a href="/logout">LOG OUT</a></li>
        <li><a href="/index">LIST ALL POEMS</a></li>
        <li><a href="/poems/new">CREATE A POEM</a></li>
    <% end %>
</ul>
<%= yield %>
