<h1>Welcome to Wordfelt: Poerty Jounral! Log in below.</h2>

<form class="" action="/login" method="POST">
    <label for="email"> Enter your email:</label><br>
     <input type="text" name="email" value="" placeholder="john.doe@mail.com" ><br><br>
     <label for="password"> Enter your password:</label><br>
    <input type="text" name="password" value="" placeholder="get creative" >
    <br><br>
    <input type="submit" value="log in" />

<!--<a href="/login">LOG IN</a> or <a href="/signup">SIGN UP</a>-->
<!--< replaced value for placeholder  >>
</form>




